*{
	margin: 0;
	padding: 0;
}
body{
            background-color: rgb(64, 104, 138);
            background-size: 100% 700px;
			background-repeat: no-repeat;
			
			padding: 30px;
              
   
}
h2{
	text-align: center;
	padding: 20px;
}
#payment{
	background: #bbb;
	width: 500px;
	margin: 0px 0px 0px 430px;
	color: black;
	font-size: 18px;
	padding: 20px;
	bord-radius:10px;
}
#resultBill{
	background: #bbb;
	width: 500px;
	margin: 0px 0px 0px 430px;
	color: black;
	font-size: 18px;
	padding: 20px;
	bord-radius:10px;
	
}
