*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(HOSTEL2.jpg);
	background-size: 100% 700px;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	padding: 20px;
}
h2{
	text-align: center;
	padding: 20px;
}
.reg{
	background: #2d85b0;
	width: 500px;
	margin: 0px 0px 0px 430px;
	color: white;
	font-size: 18px;
	padding: 20px;
	bord-radius:10px;
}
#reg{
	margin-left:50px;
}
label{
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;
}
#sub{
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	border: none;
	border-radius: 3px;
	outline: 0;
}
